.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9AAFC3;

    width: 100%;
}

.headerContent {
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    width: 100%;
    justify-content: space-between;
}

.headerContent img {
    width: 120px;
    height: auto;
}

/* Container do input e ícone */
.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.searchIcon {
    position: absolute;
    left: 15px; /* Ajuste para alinhar corretamente */
    color: #344A53;
    font-size: 18px;
}

/* Input de busca */
.searchInput {
    width: 100%;
    height: 54px;
    padding: 17px 45px; /* Espaço para o ícone */
    border-radius: 35px;
    border: 2px solid #344A53;
    background: #9AAFC3;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    color: #1F0660;
}

/* Placeholder estilizado */
.searchInput::placeholder {
    color: #1F0660;
    text-align: center;
}

/* Botões */
button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 54px;
    padding: 10px;
    border-radius: 35px;
    border: 2px solid #344A53;
    background: #9AAFC3;
    color: #1F0660;
    font-family: "Josefin Slab", serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Efeito hover nos botões */
button:hover {
    background: #8195a9;
}

/* Responsividade */
@media (max-width: 768px) {
    .headerContent {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .searchContainer {
        max-width: 100%;
    }

    button {
        width: 100%;
        max-width: 250px;
    }
}
